@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

:root {
  --font-sans: "Work Sans", sans-serif;
  --color-primary: #19183b;
  --color-secondary: #f9b335;
}
body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-height: 100vh;
}
@layer {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes floatFade {
    0%,
    100% {
      transform: translateY(0);
      opacity: 0.2;
    }
    50% {
      transform: translateY(-20px);
      opacity: 0.35;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-float {
    animation: floatFade 6s ease-in-out infinite;
  }

  .animate-rotate {
    animation: rotate 20s linear infinite;
  }
}
